body {
  background-color: #f5f5f5;
}

.MuiGrid-spacing-xs-3 {
  width: 100% !important;
  margin: 0 !important;
}

.brand {
  height: 80px;
  margin: 1rem 0 0.8rem -0.65rem;
}

@media (min-width: 768px) {
  .brand {
    height: 120px;
  }
}

.infected {
  border-top: 10px solid rgba(0, 0, 255, 0.5);
}

.recovered {
  border-top: 10px solid rgba(0, 255, 0, 0.5);
}

.deaths {
  border-top: 10px solid rgba(255, 0, 0, 0.5);
}
